@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 text-sm;
  }
  body.lock {
    @apply touch-none overflow-hidden overscroll-none pr-[17px];
  }
  h1 {
    @apply text-2xl font-medium;
  }
  .grid-container {
    @apply grid gap-5;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .main {
    @apply flex flex-col;
    min-height: calc(100vh - 64px);
  }
}
@layer components {
  .btn {
    @apply flex items-center gap-1 h-[35px] rounded-md px-3 py-1.5 text-[13px] text-white transition;
  }
  .input {
    @apply rounded-md border border-slate-300 p-2 outline-none placeholder:text-sm focus:border-slate-300 focus-visible:ring-green-600;
  }
  .input-radio {
    @apply h-3 w-3 border-slate-300 text-green-600 placeholder:text-sm;
  }
  .input-error {
    @apply border-[#e03f3c];
  }
  .container {
    @apply max-w-[1200px] px-4;
  }
}
@layer utilities {
  .btn-red {
    @apply bg-rose-800 hover:bg-rose-900;
  }
  .btn-green {
    @apply bg-green-600 hover:bg-green-700;
  }
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-600;
  }
  .btn-orange {
    @apply bg-slate-500 hover:bg-slate-600;
  }
}

input[type="radio"]:focus {
  box-shadow: none;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
}
